/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logomain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logomainn{
	content: url(../images/inforepara.png);
}

main{
    margin: 40px 250px auto;
    color: white;
}


main h3{
    display: flex;
    margin-top: 1em;
    padding-left: 30px;
}

footer{
	color:black;
	display:flex;
	flex-direction: row;
	justify-content:center;
	align-items:center;
}

.bordeprod{
    background-color: #b2adff;
    border: white solid;
    border-width: 2px;
}

.producto {
    
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.producto > .imgprod {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    margin: -20px;
}

.producto > .descripcion {

    width:80%
}

@media (max-width: 768px){
    .carticle{
        background-color: #b2adff;
        border: white solid;
        border-width: 2px;
        width: 100%;
    }

    main{
        width: 91%;
        margin: auto;
		padding-left:92px;
    }

    .bordeprod{
        border:none;
        margin-right: 50px;
    }

    .producto > .descripcion > .descripcion2{
        display: flex;
        flex: column;
        width: 100%;
    }

    .descripcion{
        margin: auto;
    }

    .descripcion2{
        padding-bottom: 20px;
    }

    .producto > .imgprod{
        display: flex;
        flex: column;
        width: 120%;
        margin: auto;
        padding-bottom:30px;
    }
    .producto {
    
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        width: 100%;
		padding-left: 20px;
    }
    .boton2{
        width: 120%;
    }
}

.imgproducto{
    width: 50%;
}

.boton2{
    display: flex;
    justify-content: center;
}

.botonproducto {
    display: inline-block;
    padding: 15px 25px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color:black;
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .botonproducto:hover {background-color: #3e8e41}
  
  .botonproducto:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

































































































































/* /// */
